# Fortune 500 HQs and Impact on Local Economies

In [3]:
#dependencies
import pandas as pd
import csv
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
from config import g_key
from config import bls_key
import geocoder

In [12]:
#importing fortune 500 HQs
fortune500HQ_to_load = "./Data_Files/Fortune_500.csv"
Fortune_500 = pd.read_csv(fortune500HQ_to_load)

Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [13]:
counties = []

for row in range(0, len(Fortune_500)):
    city = Fortune_500["Hqcity"][row]
    state = Fortune_500["Hqstate"][row]
    results = geocoder.google(f"{city},{state}", key=g_key)
    
    # Use conditional to set county equal to city name if no county is available
    if results = "None":
        counties.append(f"{city} City")
    else:
        counties.append(results.county)
    
Fortune_500["County"]=counties
Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,County
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,Benton County
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,Douglas County
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,Santa Clara County
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,Dallas County
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,San Francisco County

In [14]:
zip_codes = []

for row in range(0, len(Fortune_500)):
    address_split = Fortune_500["Address"][row].split()
    zip_codes.append(address_split[-1])
    
Fortune_500["Zip Code"] = zip_codes
Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,County,Zip Code
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,Benton County,72716
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,Douglas County,68131
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,Santa Clara County,95014
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,Dallas County,75039
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,San Francisco County,94104

In [15]:
no_county = Fortune_500.loc[Fortune_500["County"].isna() == True]
no_county.head(100)

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,County,Zip Code
13,14,Verizon,http://www.verizon.com,160900,Telecommunications,Telecommunications,"New York, NY",1095 Ave. of the Americas,New York,NY,...,VZ,Verizon Communications Inc.,125980,-4.3,13127.0,-26.6,244180,22524.0,None,10036
20,21,J.P. Morgan Chase,http://www.jpmorganchase.com,243355,Financials,Commercial Banks,"New York, NY",270 Park Ave.,New York,NY,...,JPM,JPMorgan Chase & Co.,105486,4.4,24733.0,1.2,2490972,254190.0,None,10017
21,22,Express Scripts Holding,http://www.express-scripts.com,25600,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",1 Express Way,St. Louis,MO,...,ESRX,Express Scripts Holding Company,100288,-1.4,3404.4,37.5,51745,16236.0,None,63121
29,30,Citigroup,http://www.citigroup.com,219000,Financials,Commercial Banks,"New York, NY",388 Greenwich St.,New York,NY,...,C,Citigroup Inc.,82386,-6.7,14912.0,-13.5,1792077,225120.0,None,10013
41,42,MetLife,http://www.metlife.com,58000,Financials,"Insurance: Life, Health (Stock)","New York, NY",200 Park Ave.,New York,NY,...,MET,"MetLife, Inc.",63476,-9.3,800.0,-84.9,898764,67309.0,None,10166
53,54,Pfizer,http://www.pfizer.com,96500,Health Care,Pharmaceuticals,"New York, NY",235 E. 42nd St.,New York,NY,...,PFE,Pfizer Inc.,52824,8.1,7215.0,3.7,171615,59544.0,None,10017
54,55,AIG,http://www.aig.com,56400,Financials,Insurance: Property and Casualty (Stock),"New York, NY",175 Water St.,New York,NY,...,AIG,"American International Group, Inc.",52367,-10.2,-849.0,-138.7,498264,76300.0,None,10038
64,65,New York Life Insurance,http://www.newyorklife.com,11320,Financials,"Insurance: Life, Health (Mutual)","New York, NY",51 Madison Ave.,New York,NY,...,KO,New York Life Insurance Company,40787,-11.1,1088.1,324.1,287196,20108.0,None,10010
65,66,Centene,http://www.centene.com,30500,Health Care,Health Care: Insurance and Managed Care,"St. Louis, MO",7700 Forsyth Blvd.,St. Louis,MO,...,CNC,Centene Corporation,40721,78.6,562.0,58.3,20197,5895.0,None,63105
75,76,Morgan Stanley,http://www.morganstanley.com,55311,Financials,Commercial Banks,"New York, NY",1585 Broadway,New York,NY,...,MS,Morgan Stanley,37949,0.1,5979.0,-2.4,814949,76050.0,None,10036
77,78,Goldman Sachs Group,http://www.gs.com,34400,Financials,Commercial Banks,"New York, NY",200 West St.,New York,NY,...,GS,"The Goldman Sachs Group, Inc.",37712,-3.8,7398.0,21.6,860165,86893.0,None,10282
79,80,TIAA,http://www.tiaa.org,12997,Financials,"Insurance: Life, Health (Mutual)","New York, NY",730 Third Ave.,New York,NY,...,ETE,Teachers Insurance and Annuity Association,37105,5.5,1492.3,22.9,523194,35583.0,None,10017
85,86,American Express,http://www.americanexpress.com,56400,Financials,Diversified Financials,"New York, NY",200 Vesey St.,New York,NY,...,AXP,American Express Company,33823,-1.8,5408.0,4.7,158893,20501.0,None,10285
89,90,General Dynamics,http://www.generaldynamics.com,98800,Aerospace & Defense,Aerospace and Defense,"Falls Church, VA",2941 Fairview Park Dr.,Falls Church,VA,...,GD,General Dynamics Corporation,31353,-0.4,2955.0,-0.3,32872,10976.0,None,22042
94,95,Time Warner,http://www.timewarner.com,25000,Media,Entertainment,"New York, NY",1 Time Warner Center,New York,NY,...,TWX,Time Warner Inc.,29318,4.3,3926.0,2.4,65966,24335.0,None,10019
98,99,Travelers Cos.,http://www.travelers.com,30900,Financials,Insurance: Property and Casualty (Stock),"New York, NY",485 Lexington Ave.,New York,NY,...,TRV,"The Travelers Companies, Inc.",27625,3.1,3014.0,-12.4,100245,23221.0,None,10017
100,101,Twenty-First Century Fox,http://www.21cf.com,21500,Media,Entertainment,"New York, NY",1211 Ave. of the Americas,New York,NY,...,FOXA,"Twenty-First Century Fox, Inc.",27326,-5.7,2755.0,-66.8,48365,13661.0,None,10036
103,104,Philip Morris International,http://www.pmi.com,79500,"Food, Beverages & Tobacco",Tobacco,"New York, NY",120 Park Ave.,New York,NY,...,PM,Philip Morris International Inc.,26685,-0.4,6967.0,1.4,36851,-12688.0,None,10017
113,114,Northrop Grumman,http://www.northropgrumman.com,67000,Aerospace & Defense,Aerospace and Defense,"Falls Church, VA",2980 Fairview Park Dr.,Falls Church,VA,...,NOC,Northrop Grumman Corporation,24508,4.2,2200.0,10.6,25614,5259.0,None,22042
135,136,Dollar Tree,http://www.dollartree.com,116050,Retailing,Specialty Retailers: Other,"Chesapeake, VA",500 Volvo Pkwy.,Chesapeake,VA,...,DLTR,"Dollar Tree, Inc.",20719,33.7,896.2,217.4,15702,5390.0,None,23320
138,139,Emerson Electric,http://www.emerson.com,103500,Industrials,"Electronics, Electrical Equipment","St. Louis, MO",8000 W. Florissant Ave.,St. Louis,MO,...,EMR,Emerson Electric Co.,20268,-9.1,1635.0,-39.7,21743,7568.0,None,63136
146,147,Bristol-Myers Squibb,http://www.bms.com,25000,Health Care,Pharmaceuticals,"New York, NY",345 Park Ave.,New York,NY,...,BMY,Bristol-Myers Squibb Company,19427,17.3,4457.0,184.8,33707,16177.0,None,10154
147,148,Altria Group,http://www.altria.com,8300,"Food, Beverages & Tobacco",Tobacco,"Richmond, VA",6601 W. Broad St.,Richmond,VA,...,MO,"Altria Group, Inc.",19337,2.6,14239.0,171.7,45932,12770.0,None,23230
167,168,Icahn Enterprises,http://www.ielp.com,90980,Financials,Diversified Financials,"New York, NY",767 Fifth Ave.,New York,NY,...,IEP,Icahn Enterprises L.P.,16348,7.0,-1128.0,-70.2,33335,2154.0,None,10153
170,171,Performance Food Group,http://www.pfgc.com,13000,Wholesalers,Wholesalers: Food and Grocery,"Richmond, VA",12500 W. Creek Pkwy.,Richmond,VA,...,PFGC,Performance Food Group Company,16105,5.5,68.3,20.9,3455,803.0,None,23238
173,174,CarMax,http://www.carmax.com,22429,Retailing,"Automotive Retailing, Services","Richmond, VA",12800 Tuckahoe Creek Pkwy.,Richmond,VA,...,KMX,"CarMax, Inc.",15833,6.4,623.4,4.4,14482,2905.0,None,23238
176,177,Bank of New York Mellon,http://www.bnymellon.com,52000,Financials,Commercial Banks,"New York, NY",225 Liberty St.,New York,NY,...,BK,The Bank of New York Mellon Corporation,15683,1.0,3547.0,12.3,333469,38811.0,None,10286
178,179,Omnicom Group,http://www.omnicomgroup.com,78500,Business Services,"Advertising, Marketing","New York, NY",437 Madison Ave.,New York,NY,...,OMC,Omnicom Group Inc.,15417,1.9,1148.6,5,23165,2162.0,None,10022
181,182,Colgate-Palmolive,http://www.colgatepalmolive.com,36700,Household Products,Household and Personal Products,"New York, NY",300 Park Ave.,New York,NY,...,CL,Colgate-Palmolive Company,15195,-5.2,2441.0,76.4,12123,-243.0,None,10022
188,189,INTL FCStone,http://www.intlfcstone.com,1464,Financials,Diversified Financials,"New York, NY",708 Third Ave.,New York,NY,...,INTL,INTL FCStone Inc.,14755,-57.5,54.7,-1.8,5951,434.0,None,10017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,Marsh & McLennan,http://www.mmc.com,60000,Financials,Diversified Financials,"New York, NY",1166 Ave. of the Americas,New York,NY,...,MMC,"Marsh & McLennan Companies, Inc.",13211,2.5,1768.0,10.6,18190,6192.0,None,10036
212,213,Loews,http://www.loews.com,15800,Financials,Insurance: Property and Casualty (Stock),"New York, NY",667 Madison Ave.,New York,NY,...,L,Loews Corporation,13105,-2.3,654.0,151.5,76594,18163.0,None,10065
217,218,Guardian Life Ins. Co. of America,http://www.guardianlife.com,8876,Financials,"Insurance: Life, Health (Mutual)","New York, NY",7 Hanover Sq.,New York,NY,...,WDC,Guardian Life Ins. Co. of America,12919,2.3,263.9,-35.7,70339,6172.5,None,10004
223,224,Viacom,http://www.viacom.com,9650,Media,Entertainment,"New York, NY",1515 Broadway,New York,NY,...,VIAB,Viacom Inc.,12488,-5.9,1438.0,-25.2,22508,4277.0,None,10036
227,228,Arconic,http://www.arconic.com,41500,Aerospace & Defense,Aerospace and Defense,"New York, NY",390 Park Ave.,New York,NY,...,ARNC,Arconic Inc.,12394,-45.0,-941.0,6.7,20038,5115.0,None,10022
233,234,Consolidated Edison,http://www.conedison.com,14960,Energy,Utilities: Gas and Electric,"New York, NY",4 Irving Place,New York,NY,...,ED,"Consolidated Edison, Inc.",12075,-3.8,1245.0,4.4,48255,14298.0,None,10003
237,238,Dominion Energy,http://www.dominionenergy.com,16200,Energy,Utilities: Gas and Electric,"Richmond, VA",120 Tredegar St.,Richmond,VA,...,D,"Dominion Energy, Inc.",11737,0.5,2123.0,11.8,71610,14605.0,None,23219
252,253,Estee Lauder,http://www.elcompanies.com,46000,Household Products,Household and Personal Products,"New York, NY",767 Fifth Ave.,New York,NY,...,EL,The Estee Lauder Companies Inc.,11262,4.5,1114.6,2.4,9223,3572.0,None,10153
254,255,BlackRock,http://www.blackrock.com,13000,Financials,Securities,"New York, NY",55 E. 52nd St.,New York,NY,...,BLK,"BlackRock, Inc.",11155,-2.2,3172.0,-5.2,220177,29098.0,None,10055
261,262,Leucadia National,http://www.leucadia.com,13000,Financials,Diversified Financials,"New York, NY",520 Madison Ave.,New York,NY,...,LUK,Leucadia National Corporation,10875,-6.9,130.0,-54.2,45071,10128.0,None,10022
265,266,Voya Financial,http://www.voya.com,6700,Financials,Diversified Financials,"New York, NY",230 Park Ave.,New York,NY,...,VOYA,"Voya Financial, Inc.",10782,-4.9,-428.0,-204.8,214235,12994.0,None,10169
272,273,L3 Technologies,http://www.l3t.com,38000,Aerospace & Defense,Aerospace and Defense,"New York, NY",600 Third Ave.,New York,NY,...,LLL,"L3 Technologies, Inc.",10597,-8.3,710.0,19.4,11865,4553.0,None,10016
283,284,Norfolk Southern,http://www.nscorp.com,27856,Transportation,Railroads,"Norfolk, VA",3 Commercial Place,Norfolk,VA,...,NSC,Norfolk Southern Corporation,9888,-5.9,1668.0,7.2,34892,12409.0,None,23510
291,292,Advance Auto Parts,http://www.advanceautoparts.com,57500,Retailing,Specialty Retailers: Other,"Roanoke, VA",5008 Airport Rd.,Roanoke,VA,...,AAP,"Advance Auto Parts, Inc.",9568,-1.7,459.6,-2.9,8315,2916.0,None,24012
299,300,Alcoa,http://www.alcoa.com,14000,Materials,Metals,"New York, NY",390 Park Ave.,New York,NY,...,AA,Alcoa Corporation,9318,3.0,-400.0,-18.3,16741,5654.0,None,10022
328,329,Genworth Financial,http://www.genworth.com,3400,Financials,"Insurance: Life, Health (Stock)","Richmond, VA",6620 W. Broad St.,Richmond,VA,...,GNW,"Genworth Financial, Inc.",8369,-9.5,-277.0,-385,104658,12644.0,None,23230
331,332,News Corp.,http://www.newscorp.com,24000,Media,"Publishing, Printing","New York, NY",1211 Ave. of the Americas,New York,NY,...,NWSA,News Corporation,8319,-3.6,179.0,-21.3,15483,11564.0,None,10036
334,335,PVH,http://www.pvh.com,26650,Apparel,Apparel,"New York, NY",200 Madison Ave.,New York,NY,...,PVH,PVH Corp.,8203,2.3,549.0,-4.1,11068,4805.0,None,10016
344,345,Interpublic Group,http://www.interpublic.com,49800,Business Services,"Advertising, Marketing","New York, NY",909 Third Ave.,New York,NY,...,IPG,"The Interpublic Group of Companies, Inc.",7847,3.1,608.5,33.9,12485,2017.0,None,10022
347,348,Foot Locker,http://www.footlocker-inc.com,32965,Retailing,Specialty Retailers: Apparel,"New York, NY",330 W. 34th St.,New York,NY,...,FL,"Foot Locker, Inc.",7766,4.8,664.0,22.7,3840,2710.0,None,10001
360,361,Assurant,http://www.assurant.com,14700,Financials,Insurance: Property and Casualty (Stock),"New York, NY",28 Liberty St.,New York,NY,...,AIZ,"Assurant, Inc.",7532,-27.1,565.4,299.4,29709,4098.0,None,10005
370,371,Ralph Lauren,http://www.ralphlauren.com,20500,Apparel,Apparel,"New York, NY",650 Madison Ave.,New York,NY,...,RL,Ralph Lauren Corporation,7405,-2.8,396.0,-43.6,6213,3744.0,None,10022
379,380,Huntington Ingalls Industries,http://www.huntingtoningalls.com%20,37000,Aerospace & Defense,Aerospace and Defense,"Newport News, VA",4101 Washington Ave.,Newport News,VA,...,HII,"Huntington Ingalls Industries, Inc.",7068,0.7,573.0,41.8,6352,1653.0,None,23607
417,418,HRG Group,http://www.hrggroup.com,16021,Household Products,Household and Personal Products,"New York, NY",450 Park Ave.,New York,NY,...,HRG,"HRG Group, Inc.",6403,10.1,-198.8,-37.2,35793,638.0,None,10022
419,420,Graybar Electric,http://www.graybar.com,8500,Wholesalers,Wholesalers: Diversified,"St. Louis, MO",34 N. Meramec Ave.,St. Louis,MO,...,CMS,"Graybar Electric Company, Inc.",6385,4.5,93.1,2.2,2099,728.0,None,63105
427,428,Alleghany,http://www.alleghany.com,3420,Financials,Insurance: Property and Casualty (Stock),"New York, NY",1411 Broadway,New York,NY,...,Y,Alleghany Corporation,6131,22.6,456.9,-18.5,23757,7940.0,None,10018
430,431,Ameren,http://www.ameren.com,8629,Energy,Utilities: Gas and Electric,"St. Louis, MO",1901 Chouteau Ave.,St. Louis,MO,...,AEE,Ameren Corporation,6076,-0.4,653.0,3.7,24699,7103.0,None,63103
458,459,S&P Global,http://www.spglobal.com,20000,Business Services,Financial Data Services,"New York, NY",55 Water St.,New York,NY,...,SPGI,S&P Global Inc.,5661,6.6,2106.0,82.2,8669,650.0,None,10041
474,475,AmTrust Financial Services,http://www.amtrustgroup.com,8000,Financials,Insurance: Property and Casualty (Stock),"New York, NY",59 Maiden Lane,New York,NY,...,AFSI,"AmTrust Financial Services, Inc.",5451,18.1,411.0,-8.8,22615,3269.0,None,10038
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,None,10006

# Eric

In [113]:
# Read unemployment csv into a dataframe
unemployment_file = pd.read_csv("./Data_Files/unemployment.csv", header=None, encoding="iso-8859-1")
unemployment_file.head(20)

,0,1,2,3,4,5,6,7,8
0,"Labor force data by county, not seasonally adj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,State,County,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,NaN,FIPS,FIPS,NaN,NaN,Labor,NaN,NaN,ment Rate
4,LAUS Code,Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3
10,CN0100900000000,01,009,"Blount County, AL",Nov-17,"24,396","23,641",755,3.1
11,CN0101100000000,01,011,"Bullock County, AL",Nov-17,"4,832","4,636",196,4.1
12,CN0101300000000,01,013,"Butler County, AL",Nov-17,"8,842","8,462",380,4.3
13,CN0101500000000,01,015,"Calhoun County, AL",Nov-17,"45,351","43,587","1,764",3.9
14,CN0101700000000,01,017,"Chambers County, AL",Nov-17,"15,210","14,701",509,3.3
15,CN0101900000000,01,019,"Cherokee County, AL",Nov-17,"11,027","10,671",356,3.2
16,CN0102100000000,01,021,"Chilton County, AL",Nov-17,"19,078","18,478",600,3.1
17,CN0102300000000,01,023,"Choctaw County, AL",Nov-17,"4,311","4,082",229,5.3
18,CN0102500000000,01,025,"Clarke County, AL",Nov-17,"7,559","7,072",487,6.4
19,CN0102700000000,01,027,"Clay County, AL",Nov-17,"5,714","5,515",199,3.5

In [114]:
# Rename columns
unemployment_df = unemployment_file.rename(columns={0: "County Code", 1: "State FIPS", 2: "County FIPS", 
                                  3: "County_State", 4: "Month", 5: "Labor Force", 6: "Employed", 
                                  7: "Unemployed", 8: "Unemployment Rate (%)"})

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,"Labor force data by county, not seasonally adj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,State,County,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,NaN,FIPS,FIPS,NaN,NaN,Labor,NaN,NaN,ment Rate
4,LAUS Code,Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3

In [115]:
# Remove extra rows that were included from csv formatting
unemployment_df=unemployment_df.drop(unemployment_df.index[:6])
unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3
10,CN0100900000000,01,009,"Blount County, AL",Nov-17,"24,396","23,641",755,3.1
11,CN0101100000000,01,011,"Bullock County, AL",Nov-17,"4,832","4,636",196,4.1
12,CN0101300000000,01,013,"Butler County, AL",Nov-17,"8,842","8,462",380,4.3
13,CN0101500000000,01,015,"Calhoun County, AL",Nov-17,"45,351","43,587","1,764",3.9
14,CN0101700000000,01,017,"Chambers County, AL",Nov-17,"15,210","14,701",509,3.3
15,CN0101900000000,01,019,"Cherokee County, AL",Nov-17,"11,027","10,671",356,3.2

In [116]:
# Use .loc to find unemployment rate at the end of the year
unemployment_df = unemployment_df.loc[unemployment_df["Month"] == "Dec-17"]

# Reset index values
unemployment_df = unemployment_df.reset_index(drop=True)

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,"Autauga County, AL",Dec-17,"25,733","24,952",781,3.0
1,CN0100300000000,01,003,"Baldwin County, AL",Dec-17,"90,001","87,006","2,995",3.3
2,CN0100500000000,01,005,"Barbour County, AL",Dec-17,"8,074","7,704",370,4.6
3,CN0100700000000,01,007,"Bibb County, AL",Dec-17,"8,412","8,143",269,3.2
4,CN0100900000000,01,009,"Blount County, AL",Dec-17,"24,164","23,434",730,3.0
5,CN0101100000000,01,011,"Bullock County, AL",Dec-17,"4,689","4,480",209,4.5
6,CN0101300000000,01,013,"Butler County, AL",Dec-17,"8,753","8,374",379,4.3
7,CN0101500000000,01,015,"Calhoun County, AL",Dec-17,"45,160","43,425","1,735",3.8
8,CN0101700000000,01,017,"Chambers County, AL",Dec-17,"15,187","14,693",494,3.3
9,CN0101900000000,01,019,"Cherokee County, AL",Dec-17,"10,922","10,579",343,3.1

In [117]:
# All columns are strings with hidden white space.
#Loop through rows of numerical columns to strip white space and remove commas

for row in range(0, len(unemployment_df)):
    string = unemployment_df["Labor Force"][row]
    unemployment_df["Labor Force"][row] = string.strip()
    unemployment_df["Labor Force"][row] = string.replace(",","")
    
    string = unemployment_df["Employed"][row]
    unemployment_df["Employed"][row] = string.strip()
    unemployment_df["Employed"][row] = string.replace(",","")
    
    string = unemployment_df["Unemployed"][row]
    unemployment_df["Unemployed"][row] = string.strip()
    unemployment_df["Unemployed"][row] = string.replace(",","")
    
    string = unemployment_df["Unemployment Rate (%)"][row]
    unemployment_df["Unemployment Rate (%)"][row] = string.strip()
    
# Convert numerical string values to integers
unemployment_df["Labor Force"] = unemployment_df["Labor Force"].astype(int)
unemployment_df["Employed"] = unemployment_df["Employed"].astype(int)
unemployment_df["Unemployed"] = unemployment_df["Unemployed"].astype(int)
unemployment_df["Unemployment Rate (%)"] = unemployment_df["Unemployment Rate (%)"].astype(float)

    
unemployment_df.dtypes

County Code               object
State FIPS                object
County FIPS               object
County_State              object
Month                     object
Labor Force                int32
Employed                   int32
Unemployed                 int32
Unemployment Rate (%)    float64
dtype: object

In [118]:
# Create empty list variables to store split values
unemployment_counties = []
unemployment_states = []

# Loop through df to split County_State column into County and State
for row in range(0, len(unemployment_df)):
    county_split = unemployment_df["County_State"][row].split(",")
    county_split[0].strip()
    county_split[-1].strip()
    unemployment_counties.append(county_split[0])
    unemployment_states.append(county_split[-1])
    
# Add columns to df
unemployment_df["County"] = unemployment_counties
unemployment_df["State"] = unemployment_states

# Rearrange columns and remove unnecessary columns
unemployment_df = unemployment_df[["County Code", "State FIPS", "County FIPS", "County", "State", "Labor Force", 
                                   "Employed", "Unemployed", "Unemployment Rate (%)"]]

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,Autauga County,AL,25733,24952,781,3.0
1,CN0100300000000,01,003,Baldwin County,AL,90001,87006,2995,3.3
2,CN0100500000000,01,005,Barbour County,AL,8074,7704,370,4.6
3,CN0100700000000,01,007,Bibb County,AL,8412,8143,269,3.2
4,CN0100900000000,01,009,Blount County,AL,24164,23434,730,3.0
5,CN0101100000000,01,011,Bullock County,AL,4689,4480,209,4.5
6,CN0101300000000,01,013,Butler County,AL,8753,8374,379,4.3
7,CN0101500000000,01,015,Calhoun County,AL,45160,43425,1735,3.8
8,CN0101700000000,01,017,Chambers County,AL,15187,14693,494,3.3
9,CN0101900000000,01,019,Cherokee County,AL,10922,10579,343,3.1

In [120]:
# New York City is split into 5 counties for each borough and must be combined into one entry

# Isolate New York Counties from the rest of the df
nyc_df = unemployment_df.loc[unemployment_df["State"] == " NY"]

# Rename each county to New York City
nyc_df.loc[nyc_df["County"] == "New York County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Kings County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Bronx County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Richmond County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Queens County", "County"] = "New York City"

# Combine all New York City data into one dataframe
nyc_df = nyc_df.loc[nyc_df["County"] == "New York City"]

# Find totals of statistics and find unemployment rate for all 5 boroughs
nyc_labor_force = nyc_df["Labor Force"].sum()
nyc_employed = nyc_df["Employed"].sum()
nyc_unemployed = nyc_df["Unemployed"].sum()
nyc_unemployment_rate = round(nyc_unemployed / nyc_labor_force * 100, 1)

# Make a dataframe using NYC totals
nyc_totals = pd.DataFrame({"County Code": None, "State FIPS": None, "County FIPS": None, "County": "New York City", 
                           "State": "NY", "Labor Force": nyc_labor_force, "Employed": nyc_employed, 
                           "Unemployed": nyc_unemployed, "Unemployment Rate (%)": nyc_unemployment_rate}, index=[0])

# Drop NYC rows from unemployment dataframe
unemployment_df[unemployment_df.County != "New York City"]

# Merge NYC totals into main dataframe to replace dropped rows
unemployment_df = unemployment_df.merge(nyc_totals, how="outer")
unemployment_df.head()

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,Autauga County,AL,25733,24952,781,3.0
1,CN0100300000000,01,003,Baldwin County,AL,90001,87006,2995,3.3
2,CN0100500000000,01,005,Barbour County,AL,8074,7704,370,4.6
3,CN0100700000000,01,007,Bibb County,AL,8412,8143,269,3.2
4,CN0100900000000,01,009,Blount County,AL,24164,23434,730,3.0
5,CN0101100000000,01,011,Bullock County,AL,4689,4480,209,4.5
6,CN0101300000000,01,013,Butler County,AL,8753,8374,379,4.3
7,CN0101500000000,01,015,Calhoun County,AL,45160,43425,1735,3.8
8,CN0101700000000,01,017,Chambers County,AL,15187,14693,494,3.3
9,CN0101900000000,01,019,Cherokee County,AL,10922,10579,343,3.1

In [121]:
unemployment_df.loc[unemployment_df["County"] == "New York City"]

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
3219,None,None,None,New York City,NY,4189864,4023962,165902,4.0

In [11]:
# Use geocoder to find county

results = geocoder.google("63121", key=g_key)
print(results.county)

St Louis County

In [ ]:
# Testing api calls from Bureau of Labor Statistics
# Later: add bls_key to config and import
base_url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
prefix = "LAUCN"


response = requests.get(f"{base_url}/LAUST110000000000003?registrationkey={bls_key}")

# Carlos

# Yissel

# Rodrigo